.home__page--menu {
  & .nav-link {
    margin: 0 4px;
    color: #555;
    font-weight: 500;
    padding: 4px 6px 12px 6px;
    border-radius: 7px;
    position: relative;
    &:focus{
      border-bottom: 2px solid coral;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:hover {
      background-color: #f1f1f1;
    }
  }
  .badge {
    background-color: rgb(233, 231, 231);
    color: #111;
  }
}
.icons {
  margin: 0 4px 3px 0;
}
